%h1 Dashboard

%ul
  %li From now on this is the view you will get when you log in
  %li You can see your ideabok, its tags, and worksheets
  %li you can also browse the concept cards, you used these before during your alignment worksheet
  %li And notifications - when you have a new item it will you can check up here. Click the notification to proceed.

= link_to "New Message", welcome_new_message_path