%h1 A new idea book

%ul
  %li an idea book is where you can write an concept you'd like. It's all private.
  %li each page allows you to write, add links, pinterest pins, and upload your own images
  %li let's go ahead an create our first page

= link_to "Your first idea", welcome_new_page_path
