%h1
  New Message

%ul
  %li Looks like Jackie is asking us to rethink some of our ideas. You can keep going in your idea book and follow the
  same process. Itteration is the key to concept development - so don't feel rejected, your ideas will be archived here,
  and who knows how it might come back or be recycled.
  %li Best of Luck