%h1 Feedback

%ul
  %li There are different types of feedback collectors you can create for your concept they include [Peer Notes]
  [Quick Survey] [Multiple Choice] [Value Check Up]. Let's pick [Peer Notes] - this will allow you to get some input
  from a colleague that's working on the themes you previously identified.
  %li Select [Jackie Paper] from the available list of colleagues, add a note if you'd like and send it on its way.

= link_to "Head back to the dashboard", welcome_back_to_dashboard_path
