%h1 New Page

%ul
  %li Go ahead and just start writing. Don't worry about anything else.
  %li Great, now let's add some tags to help you find this better. Use tags to help you bring together your ideas.
  %li If you ever don't know quite where you're going with an idea just leave it untagged and it will be sorted as uncategorized. This can be helpful later to clean up your idea book.
  %li Excellent. Now let's add some images. You can upload from your desktop or paste in a URL
  %li This works with Pinterest, if you're your a pinterest user go ahead an create a new board if not you can skip this step
  %li Awesome! You got your concept out - that's half the battle
  %li Now, let's see how your idea can work with the strategy Moleskine is currently working toward. To do this we'll fill
  out a worksheet. Worksheets attach to your idea book and help build the concept and business case for your idea. Let's
  get started.

= link_to "Worksheet: Alignment", welcome_new_worksheet_path


