%h1 New Worksheet

%ul
  %li The first and most common worksheet is Alignment. This allows you to understand how your idea might work with with
  what others in the company are doing as well as achieve the goals Moleskine has set for the near future.
  %li In this system there are a number of Concept Cards that reflect these goals and projects let's look through them
  and see if we can find a match for your idea (you need at least one). Dont' worry if your idea fits more than one of these concept cards,
  for now just pick the one think matches most or you'd like to start with.
  %li Audience - [Business] [Art] [Planner] [Gen Z] [Female Centric] [Somebody Else]
  %li Category - [Paper] [Digital-Physical] [Licensed] [Something New]
  %li Trends - [Customization] [Subscription] [Gift Giving] [Something Else]
  %li You said your idea is for Female Centric audience, in the paper category. Fill out the following questions.
  %li Great! Now we can begin to speak to the right peers and understand where your great idea could live. There's one more thing we need to do
  and that is to get some feedback.
  %li Feedback Collectors are a way that you discuss your idea with colleagues and sharpen its offering.


= link_to "Get some feedback", welcome_new_feedback_collector_path
